<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/mayudin.png" alt="mayudin" class="img-thumbnail rounded-circle" height="300" width="200">
            <h1 class="display-4">Muhammad Mayudin</h1>
            <p class="lead">Mahasiswa | Programmer</p>
        </div>
    </div>
</div>